:root {
  /* Immich Core */
  --immich-primary: 136 57 239; /* Mauve */
  --immich-bg: 239 241 245; /* Base */
  --immich-fg: 76 79 105; /* Text */
  --immich-gray: 204 208 218; /* Surface0 */

  /* Immich UI Overrides */
  --immich-ui-primary-500: #8839ef; /* Mauve */
  --immich-ui-success-500: #40a02b; /* Green */
  --immich-ui-danger-500: #d20f39; /* Red */
  --immich-ui-warning-500: #df8e1d; /* Yellow */
  --immich-ui-info-500: #1e66f5; /* Blue */

  --immich-ui-dark: #4c4f69; /* Text */
  --immich-ui-light: #eff1f5; /* Base */
  --immich-ui-muted: #6c6f85; /* Subtext0 */
  --immich-ui-gray: #bcc0cc; /* Surface1 */

  /* Light palette for shades */
  --color-neutral-50: #eff1f5; /* base */
  --color-neutral-100: #e6e9ef; /* mantle */
  --color-neutral-200: #dce0e8; /* crust */
  --color-neutral-300: #ccd0da; /* surface0 */
  --color-neutral-400: #bcc0cc; /* surface1 */
  --color-neutral-500: #acb0be; /* surface2 */
  --color-neutral-600: #9ca0b0; /* overlay0 */
  --color-neutral-700: #8c8fa1; /* overlay1 */
  --color-neutral-800: #7c7f93; /* overlay2 */
  --color-neutral-900: #6c6f85; /* subtext0 */
  --color-neutral-950: #5c5f77; /* subtext1 */
}

/* Fix for the loading screen stripe */
html:not(.dark) {
  background-color: #eff1f5 !important;
}
