.dark {
  /* Immich Core */
  --immich-dark-primary: 202 158 230; /* Mauve */
  --immich-dark-bg: 48 52 70; /* Base */
  --immich-dark-fg: 198 208 245; /* Text */
  --immich-dark-gray: 65 69 89; /* Surface0 */

  /* Immich UI Overrides */
  --immich-ui-primary-500: #ca9ee6; /* Mauve */
  --immich-ui-success-500: #a6d189; /* Green */
  --immich-ui-danger-500: #e78284; /* Red */
  --immich-ui-warning-500: #e5c890; /* Yellow */
  --immich-ui-info-500: #8caaee; /* Blue */

  --immich-ui-dark: #c6d0f5; /* Text */
  --immich-ui-light: #303446; /* Base */
  --immich-ui-muted: #a5adce; /* Subtext0 */
  --immich-ui-gray: #51576d; /* Surface1 */

  /* Dark palette for shades */
  --color-neutral-50: #c6d0f5; /* text */
  --color-neutral-100: #b5bfe2; /* subtext1 */
  --color-neutral-200: #a5adce; /* subtext0 */
  --color-neutral-300: #949cbb; /* overlay2 */
  --color-neutral-400: #838ba7; /* overlay1 */
  --color-neutral-500: #737994; /* overlay0 */
  --color-neutral-600: #626880; /* surface2 */
  --color-neutral-700: #51576d; /* surface1 */
  --color-neutral-800: #414559; /* surface0 */
  --color-neutral-900: #303446; /* base */
  --color-neutral-950: #232634; /* crust */
}

/* Fix for the loading screen stripe */
html.dark {
  background-color: #303446 !important;
}
