.dark {
  /* Immich Core */
  --immich-dark-primary: 203 166 247; /* Mauve */
  --immich-dark-bg: 30 30 46; /* Base */
  --immich-dark-fg: 205 214 244; /* Text */
  --immich-dark-gray: 49 50 68; /* Surface0 */

  /* Immich UI Overrides */
  --immich-ui-primary-500: #cba6f7; /* Mauve */
  --immich-ui-success-500: #a6e3a1; /* Green */
  --immich-ui-danger-500: #f38ba8; /* Red */
  --immich-ui-warning-500: #f9e2af; /* Yellow */
  --immich-ui-info-500: #89b4fa; /* Blue */

  --immich-ui-dark: #cdd6f4; /* Text */
  --immich-ui-light: #1e1e2e; /* Base */
  --immich-ui-muted: #a6adc8; /* Subtext0 */
  --immich-ui-gray: #45475a; /* Surface1 */

  /* Dark palette for shades */
  --color-neutral-50: #cdd6f4; /* text */
  --color-neutral-100: #bac2de; /* subtext1 */
  --color-neutral-200: #a6adc8; /* subtext0 */
  --color-neutral-300: #9399b2; /* overlay2 */
  --color-neutral-400: #7f849c; /* overlay1 */
  --color-neutral-500: #6c7086; /* overlay0 */
  --color-neutral-600: #585b70; /* surface2 */
  --color-neutral-700: #45475a; /* surface1 */
  --color-neutral-800: #313244; /* surface0 */
  --color-neutral-900: #1e1e2e; /* base */
  --color-neutral-950: #11111b; /* crust */
}

/* Fix for the loading screen stripe */
html.dark {
  background-color: #1e1e2e !important;
}
